# MINEAZY BIG SPENDERS CONFIGURATIONS

# Port to serve the web app
PORT=8000

# OPTION 1: Connect using a standard TiDB/MySQL Connection URL
# DATABASE_URL=mysql://<user>:<password>@<host>:<port>/<database>?ssl={"rejectUnauthorized":true}

# OPTION 2: Connect using individual parameters (TiDB Serverless Example)
TIDB_HOST=gateway01.us-east-1.prod.aws.tidbcloud.com
TIDB_PORT=4000
TIDB_USER=xxxxxx.root
TIDB_PASSWORD=your_tidb_password_here
TIDB_DATABASE=mineazy_spenders

# Optional Path to SSL CA Certificate if needed
# TIDB_SSL_CA=/path/to/ca-certs.pem
